//css reset

:root {
  --swiper-navigation-size: 16px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #f4f4f4;
  font-size: 12px !important;
  border-radius: 50%;
  width: 24px !important;
  height: 24px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  background-color: #f4f4f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
