//css reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #f4f4f4;
  font-size: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  background-color: #f4f4f4;
  font-size: 12px;

  border-radius: 50%;
}
